        .post-thumb {
            width: 100%;
        }
        
        .pagination-links {
            margin: 30px 0;
        }
        
        .pagination-links strong {
            padding: 8px 13px;
            margin: 5px;
            background: #f4f4f4;
            border: 1px #ccc solid;
        }
        
        a.pagination-link {
            padding: 8px 13px;
            margin: 5px;
            background: #f4f4f4;
            border: 1px #ccc solid;
        }
        
        .cat-delete {
            display: inline;
        }
        
        .blog {
            background: rgb(221, 182, 182);
            border-radius: 5px;
        }
        
        .blog-body {
            background: linear-gradient(to bottom, #9966ff 0%, #ccccff 65%);
        }